.container{
    display: flex;
    justify-content: center;
    transform: translateY(-2.0625rem);
}

.container form{
    display: grid;
    justify-content: center;
    width: 50%;
    gap: 8px;
    grid-template-columns: 1fr 98px;
}

.container form input[type=text]{
    padding: 1rem;
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    border-radius: 8px;
    color: var(--gray-100);
}

.container form button[type=submit]{
    font-weight: bold;
    background: var(--blue-dark);
    color: var(--white);
    padding: 1rem;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    transition: background-color 0.2s;
}

.container form button[type=submit]:hover{
    background: var(--blue);
}